.jx{
    width: 200px;
    height: 40px;
    background-color: lightgreen;
}
li{
    width: 200px;
    height: 100px;
    background-color: lightskyblue;
    text-align: center;
}
.h301{
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: lightskyblue;
}
.t01{
    color: indianred;
}
.t02{
    color: red;
}